.chat {
    display: inline-block;
    padding: 15px 20px;
    max-width: 400px;
    width: auto;
}

.chat p {
    background-color: inherit;
    margin: 0;
}

.client-chat {
    border-radius: 40px 10px 10px 40px;
    color: white !important;
    background-color: #413ecc;
    margin: 2px 0 2px auto;
    float: right;
}

.client-chat.first {
    margin-top: 5px;
    border-top-right-radius: 40px;
}

.client-chat.last {
    border-bottom-right-radius: 40px;
}

.recipient-chat {
    border-radius: 10px 40px 40px 10px;
    color: black !important;
    background-color: #dfdfdf;
    margin: 2px auto 2px 0;
}

.recipient-chat.first {
    border-top-left-radius: 40px;
    margin-top: 5px;
}

.recipient-chat.last {
    border-bottom-left-radius: 40px;
}

.history tr {
    border-style: none;
    padding: 0;
}

.history td {
    padding: 0;
}

.edit-toolbar {
    background-color: white;
    border-top: 1px solid black;
    bottom: 0;
    height: 125px;
    position: fixed;
    width: 70%;
    z-index: 10;
}

.edit-toolbar .col {
    position: absolute;
    /* bottom: 100px; */
}

.edit-toolbar .s10 {
    bottom: 15px;
    left: 0;
}

.edit-toolbar .s2 {
    bottom: 15px;
    right: 0;
}